@import './custom-properties.css';
@import './custom-media.css';

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

:global(.bookend) {
  width: 100%;
  height: 4px;
  background: linear-gradient(180deg, #C8342D 2.6%, #DB4D46 100%);
}
:global(.two-column) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 4rem;
}
:global(.two-column-list){
  list-style: none;
  color: #785A59;
  font-size: 20px;
  line-height: 48px;
  padding: 0 1.5rem 2rem 1.5rem;
}
:global(.heading) {
  color: #DB4D46;
  font-size: 36px;
  width: 100%;
  text-align: center;
}

html,
body,
:global(#__next),
:global(.container) {
  height: 100%;
}

:global(.content) {
  min-height: calc(100% - 84px - 218px);
}
