@import "../../styles/custom-media.css";
@import '../../styles/custom-properties.css';

.root {
  position: relative;
  padding: 2rem 0;

  @media (--media-min-medium) {
    padding: 4rem 0;
  }
}

.label {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 1em;
}

.label + .title {
  margin-top: 0.2em;
}

.title {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
}

.columnLabel + .columnTitle {
  margin-top: 0.1em;
}

.columnTitle {
  font-size: 2rem;
}

.columnLabel {
  font-size: 1rem;
}

.image {
  display: block;
  width: 100%;
}

.twoColumn {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: var(--color-white);
  max-width: var(--width-large);
  margin: 0 auto;
  @media (--media-max-medium) {
    flex-direction: column;
  }
}
.twoColumnContainer {
  width: 100%;
  background-color: var(--color-white);
}

.column {
  display: inline-block;
  width: 45%;
  @media (--media-max-medium) {
    width: 100%;
    height: auto;
  }
}

.captionBoxColumn {
  background-color: #000;
  opacity: 0.8;
  padding: 1.5rem;
  width: 50%;
  mix-blend-mode: difference;
  color: #fff;
  max-width: 40rem;

  @media (--media-max-medium) {
    width: 100%;
    padding-top: 1rem;
    padding: 0.5rem;
  }
}

.content {
  position: relative;
  margin: 0 1.5rem;
  max-width: var(--width-medium);

  @nest & figcaption {
    width: 100%;
    box-sizing: border-box;
  }

  @media (--media-min-medium) {
    margin: 0 auto;
    padding-top: 2rem;

    @nest & figcaption {
      position: absolute;
      top: 0;
    }
  }
}

.caption {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @media (--media-min-medium) {
    max-width: calc(var(--width-small) - 3rem);
  }
}

.captionBox {
  background-color: var(--color-white);
  opacity: 0.8;
  padding: 1.5rem;

  @media (--media-min-medium) {
    max-width: calc((var(--width-small) / 2) - 3rem);
  }
}
